@font-face {
  font-family: "SF-Pro";
  src: url("./Assests/Fonts/SF-Pro-Text-Black.otf") format("opentype");
}

.App {
  text-align: left;
}
.LandingPage {
  width: 1280px;
  margin: auto;
}
.background {
  background-color: black;
}

/*Header*/

.HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  position: relative;

  height: 64px;

  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ButtonsContainer {
  margin-right: 76px;
}

.ButtonsContainer > button {
  position: static;
  width: auto;
  height: 20px;

  /* Default / Bold / Subheadline */
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  border: none;
  background: none;
  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: -0.5px;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 20px;
}

.LogoContainer > img {
  width: 140px;
  height: auto;
  margin-left: 30px;
  margin-top: 10px;
}

/*Intro*/

.IntroUpperHalf {
  position: relative;
  background-color: #2e2e2e;
  height: 800px;
}

.IntroUpperHalf img:first-of-type {
  position: absolute;
  width: 851.73px;
  height: 771px;
  left: -33px;
  top: -20px;
}

.IntroUpperHalf img {
  position: absolute;
}

.LeftUpper {
  float: left;
  height: 99%;
}
.IntroTitle {
  width: 500px;
  height: 201px;
  margin: 144px 76px 0px;
  top: 208px;

  backdrop-filter: blur();

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 67px;
  letter-spacing: -0.5px;

  color: #ffffff;
}
.IntroDiscription {
  width: 456px;
  height: 48px;
  margin: 56px 76px 0px;

  left: 76px;
  top: 465px;

  backdrop-filter: blur();

  /* Default / Regular / Title3 */

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  letter-spacing: 0.38px;

  /* white */

  color: #fefefe;
}
.IntroButtonContainer {
  margin: 56px 76px 0px;
}

.IntroButtonContainer button {
  cursor: pointer;
  display: block;

  margin-top: 16px;

  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  justify-content: center;
  align-items: center;
  padding: 18px 16px;

  width: 266px;
  height: 60px;

  background: #000000;
  border: 2px solid #fefefe;
  backdrop-filter: blur(80px);
  border-radius: 200px;
}

.IphoneGIF {
  position: absolute;
  width: 547px;
  height: 1088px;
  margin-top: 24px;
  z-index: 1;
  right: 50px;
}

.IntroLowerHalf {
  overflow: auto;
  background-color: #000000;
  color: white;
  position: relative;
  height: 400px;
}

.IntroLowerHalf div {
  width: 408px;
  height: 33px;
  margin: 70px 72px 0px;

  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.36px;

  /* white */

  color: #fefefe;
}

.IntroLowerHalf img {
  margin: 40px 72px 0px;
}

/*WhoAreWe*/

.WhoAreWeContainer {
  text-align: center;
  height: 941px;
  background-color: #ffffff;
  overflow: auto;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.38px;

  color: #1c1c1e;
}

.WhoAreWeContainerTitle {
  margin-bottom: 33px;
  margin-top: 112px;

  font-weight: 900;
  font-size: 34px;
  line-height: 41px;
}

.WhoAreWeContainerDiscription {
  margin: auto;
  width: 552px;
}

.WhoAreWeListContainer {
  margin: auto;

  width: 800px;
  margin-top: 32px;
}

.WhoAreWeListContainer div {
  width: 170px;
  display: inline-block;
  margin-right: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.WhoAreWeListContainer div img {
  margin-bottom: 24px;
  margin-top: 40px;
  width: 168px;
  height: 168px;
  border-radius: 10px;
}

/*Invest*/

.InvestConatiner {
  height: 859px;
}

.InvestConatiner > div:first-of-type {
  position: absolute;

  width: 624px;
  height: 858px;
}
.giphy-embed {
  width: 100%;
  height: 100%;
}

.InvestDescriptionContainer {
  border-radius: 10px;
  height: 632px;
  width: 820px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 80px;
  background-color: white;

  position: relative;
  float: right;
}

.InvestDescriptionContainer > div {
  margin-left: 96px;
  margin-right: 96px;
  height: auto;
}

.InvestDescriptionContainer > div:first-child {
  margin-bottom: 33px;
  margin-top: 80px;

  font-weight: 900;
  font-size: 34px;
  line-height: 41px;
}

.PitchDeckContainer {
  background-color: salmon;
  width: 648px;
  position: absolute;
  bottom: 0px;
  margin-bottom: -15px;
  border-radius: 10px;
  padding-bottom: 30px;
}

.PitchDeckContainer > * {
  margin-left: 40px;
  margin-right: 40px;
}

.PitchDeckContainer > div:first-of-type {
  margin-top: 32px;
  margin-bottom: 21px;

  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
}

.PitchDeckContainer > input {
  height: 40px;
  width: 86%;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

/*Contact*/

.ContactUsContainer {
  height: 577px;
  background-color: #1c1c1e;
  width: auto;

  overflow: hidden;
  position: relative;
}
.ContactUsContainer > img:first-of-type {
  position: absolute;
  width: 851.73px;
  height: 589px;
  top: -20px;

  overflow: auto;
}

.ContactUsInformationContainer {
  margin-left: 78px;
  margin-top: 112px;
  width: 548px;
  backdrop-filter: blur();
}
.ContactUsInformationContainer > div:first-of-type {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 41px;
  /* identical to box height, or 121% */

  letter-spacing: 0.374px;

  /* white */

  color: #fefefe;
}
.ContactUsInformationContainer > div:nth-child(2) {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  letter-spacing: 0.38px;

  /* white */

  color: #fefefe;
}

.ContactUsInformationContainer > * {
  margin-top: 32px;
}
.ContactUsInformationContainer > input {
  height: 40px;
  width: 86%;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.ContactUsGif {
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 456px;
  height: 401px;
  left: 750px;
  top: 88px;

  border-radius: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: solid red;
}
